<div class="product-details-container">
    <section class="product-images">
    </section>
    <section class="price-details clearfix">
        <div class="details-row">
            <span class="amount-label text-bold">Total per month</span>
            <span class="amount text-bold">&euro; 45</span>
        </div>
         <div class="details-row">
            <span class="amount-label">Total one off</span>
            <span class="amount">&euro; 199</span>
        </div>
        <button class="btn btn-default">Bestellen</button>
    </section>
    <section class="subscription-summary"></section>
</div>