<div class="product-details-container">
    <section class="product-images">
    </section>
    <section class="price-details clearfix">
        <div class="details-row">
            <span class="amount-label text-bold">Total monthly costs {{selectedSubscription.id}}</span>
            <span class="amount text-bold">&euro; {{ selectedSubscription.getTotalPerMonth() }}</span>
        </div>
         <div class="details-row">
            <span class="amount-label">Total one off</span>
            <span class="amount">&euro; 199</span>
        </div>
        <button class="btn btn-primary">Bestellen</button>
    </section>
    <section class="subscription-summary clearfix">
        <div class="details-row">
            <span class="amount-label">Monthly Costs</span>
        </div> 
         <div class="details-row">
            <span class="amount-label text-bold">Basies Mobiel</span>
            <span class="amount text-bold">&euro; 64</span>
        </div> 
         <div class="details-row">
            <span class="amount-label">Discount as long as your subscription runs</span>
             <span class="amount">&euro; 10</span>
        </div> 
        <div class="details-row">
            <span class="amount-label">One Off</span>
        </div> 
        <div class="details-row">
            <span class="amount-label text-bold">Apple iPhone 6s 64GB silver</span>
            <span class="amount">&euro; 199</span>
        </div> 
        <div class="details-row">
            <span class="amount-label">Original &euro; 729 </span>
        </div> 
    </section>
</div>